#docker compose file for node.js application 
services:
  app:
    build: .
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - .:/app
    working_dir: /app
    command: node server.js